---
---

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Spectral|Fira+Mono)
@import "style.sass"

$serif: 'Spectral', serif
$monospace: 'Fira Mono', monospace
$sansserif: 'Josefin Sans', Helvetica, Arial, sans-serif

body
  font-family: $serif
  line-height: 1.2em
  background-color: #333

#content
  padding: 15px
  font-size: 32px

a
  color: #E56483

.turd
  margin-top: 32px
